* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 11;
    
}
header .navbar-brand span {
    font-size: 36px;
}
header  .navbar-nav .nav-link{
    color: white;
}
header .navbar-nav .nav-link:hover {
color: #35a22c;
}
header .navbar-nav .nav-item::before{
position: absolute;
width: 0%;
display: block;
content: '';
height: 3px;
left: 0;
bottom: -5px;
background: #35a22c;
transition: 0.3s;
}
header .navbar-nav .nav-item:hover::before,header .navbar-nav .nav-item.active::before {
    width: 100%;
}
/* header .navbar-nav .nav-item .active .nav-link::before {
width: 100%;
color: #35a22c;
} */
header .nav-item{
    position: relative;
}

.nav-item.active a{
    color: #35a22c;
}
.carousel__bg {
    height: 100vh;
    object-fit: cover;
}
header .navbar-brand i {
    color: #35a22c;
    font-size: 45px;
}
/* end */
#carousel .carousel-caption img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
#carousel .carousel-caption {
    bottom: 30%;
}
#carousel.carousel-item::before {
    display: block;
    content: '';
     position: absolute;
     width: 100%;
     height: 100%;
     background: rgba(0,0,0,0.4);
     top: 0;
     left: 0;
}

.carousel-indicators li {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.carousel-indicators li.active {
    background-color: #35a22c;
}

.carousel-caption h5 {
    font-size: 55px;
    line-height: 65px;
}
.carousel-caption p {
    font-size: 24px;
}
#products .item__content {
    border-radius: 16px;
    
    overflow: hidden;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: 450px;
    text-align: center;
}
#products .item__content img {
    height: 350px;
    object-fit: cover;
}
#products .item__content .title {
    /* padding: 15px; */
    padding: 10px;
    height: 100px;
    border: 1px solid white;
    border-radius: 16px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    
    
}
#products .item__content:hover .title {
  
    border-color: #35a22c;
    transition: 0.3s;
    border-top-color: white ;
}   
#products .item__content:hover h5 {
    color: #35a22c;
}
.heading h2 {
    font-size: 36px;
    line-height: 42px;
    color: #1a1d2d;
    font-weight: 600;
}
.heading p {
    color: #585858;
    line-height: 24px;
    margin-bottom: 1rem;
}
#products .nav-pills .nav-link {
    color: #1a1d2d;
    border: 1px solid #1a1d2d;
    margin: 0 5px;
   
}
#products .nav-pills .nav-link.active {
    background-color: #35a22c;
    color: #fff;
    border-color: #35a22c;
}



#feature {
    background: url(./22-04-2022-08-19-05-image/image/3.jpg) no-repeat center;
    background-size: cover;
    padding: 100px 0 120px;
    background-attachment: fixed;
    position: relative;
}

#feature .overlay {
    width: 100%;
    background: rgba(7,10,12,0.7);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#feature .heading {
    position: relative;
}
#feature .heading h2 {
    font-size: 36px;
    line-height: 42px;
    color: #1a1d2d;
    font-weight: 600;
}

#feature .feature__item {
    padding: 40px 40px;
    transition: 0.3s;
    border-radius: 10px;
    background: rgba(255,255,255,.1);
    border: 1px solid rgba(255,255,255,.1);
    backdrop-filter: blur(3px);
    transition: 0.5s;
}
#feature .feature__item:hover {
    background-color: #000;
    border-color: #fff;
}
#feature .feature__item i {
    font-size: 48px;
    color: #35a22c;
}
#feature .feature__item p {
    padding-top: 15px;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
}
#feature .feature__item h4 {
    color: white;
    font-size: 20px;
    line-height: 30px;
    padding-top: 25px;
    font-weight: 800;
}

/* end */

#award {
    position: relative;
    padding: 70px 0;
}
#award .award__bg {
    background: url(./22-04-2022-08-19-05-image/image/memphis_3.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 50% auto;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.5;
    width: 100%;
    height: 100%;
}
#award .award__left {
    max-width: 750px;
    background-color: rgba(225, 225, 225, 0.25);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, .15);
    backdrop-filter: blur(3px);
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 30%);
    padding: 45px;
}
#award .award__left h2 {
    font-size: 36px;
    line-height: 42px;
    color: #1a1d2d;
    font-weight: 600;
}

#award .award__left p {
    color: #585855;
    line-height: 24px;
}

#award .award__right {
    padding: 45px 0;
}

#award img {
    vertical-align: middle;
    border-style: none;
}

footer {
    background-color: #222;
}


footer .footer__social a {
    margin-right: 10px;
    color: #aaa;
}

footer .footer__social i {
    width: 42px;
    height: 42px;
    line-height: 42px;
    border-radius: 50%;
    border: 1px solid #454545;
    transition: all 0.5s;
}

footer .footer__social i:hover {
    border: 1px solid #35a22c;
    color: #35a22c;
}

footer p {
    color: #aaa;
}

footer .footer__copyright {
    border-top: 1px solid #454545;
    padding-top: 30px;
    margin-top: 30px;
}